<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ucan.acuteappendicitisdiagnosis">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Rule"></activity>
        <activity android:name=".Tree" />
        <activity
            android:name=".History"
            android:screenOrientation="landscape" />
        <activity android:name=".DiagnosaDokter" />
        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MyIntroActivity" />
        <activity android:name=".MainMenuActivity" />
        <activity android:name=".NyeriPerutActivity" />
        <activity android:name=".SkalaNyeriActivity" />
        <activity android:name=".NyeriTekanActivity" />
        <activity android:name=".MualActivity" />
        <activity android:name=".NafsuMakanActivity" />
        <activity android:name=".BabActivity" />
        <activity android:name=".LeukositActivity" />
        <activity android:name=".MuntahActivity" />
        <activity android:name=".PanasActivity" />
        <activity android:name=".SesakActivity" />
        <activity android:name=".TentangAplikasiActivity" />
        <activity android:name=".InfoActivity" />
        <activity android:name=".HasilActivity" />
    </application>

</manifest>